.contact-modal{height:100%;overflow-x:auto;}
.contact-modal div:nth-child(1){background:rgba(0,0,0,0);background-color:rgba(0,0,0,0);border:none;display:flex;justify-content:center;align-items:center;}
.contact-form{overflow:hidden;border:solid 1px azure;width:340px;min-height:100%;background:#000;border-radius:8px;box-shadow:0 0 20px -10px #666;margin:calc(50vh - 220px) auto;padding:20px 30px;max-width:calc(100vw - 40px);box-sizing:border-box;font-family:'oblique',sans-serif;position:relative}
.contact-h2{margin:10px 0;padding-bottom:10px;width:180px;color:azure;border-bottom:3px solid #78788c}
.contact-input{width:100%;padding:10px;box-sizing:border-box;background:#000;outline:none;resize:none;border:0;font-family:'oblique',sans-serif;transition:all .3s;border-bottom:2px solid #bebed2;color:azure;-webkit-text-fill-color:azure;}
.contact-input:focus{border-bottom:2px solid #78788c;background:#000}
.contact-p:before{content:attr(type);display:block;margin:28px 0 0;font-size:14px;color:azure;-webkit-text-fill-color:azure}
.contact-button{float:right;font-size:.8rem;padding:1px 3px;font-family:'oblique',sans-serif;border:2px solid #78788c;background:0;color:azure;cursor:pointer;transition:all .3s}
.contact-button:hover{background:#78788c;color:azure}
.contact-span{margin:5px}
.plain-contact{color:azure;-webkit-text-fill-color:azure;display:flex;flex-direction:column;}
.xOut{border-bottom-left-radius:5px;padding-left:2px;border-left:azure 1px solid;border-bottom:azure 1px solid;-webkit-text-fill-color:azure;color:azure;}





@media screen and (max-width: 550px) {

}

    @media(max-width:900px) and (max-height:500px) and (min-width:551px){


 }



  @media(max-width:1380px) and (max-height:1380px) and (min-width:700px){


 }

