@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400');

.vg-container{
  flex:1;
  display: flex;
  flex-flow: row;
  perspective: 1000px;
  perspective-origin: center;
}

.vg-col{
  height:  100%;
  transition: transform 600ms cubic-bezier(0.390, 0.575, 0.565, 1.000), opacity 300ms ease;
  transform: translateZ(34px) scale(.98);
  flex: 0 0 33.3333%; 
  position: relative;
}

.vg-col:nth-of-type(1){
  transform: rotateY(5deg) translateZ(34px) scale(.98);
}

.vg-col:nth-of-type(3){
  transform: rotateY(-5deg) translateZ(34px) scale(.98);
}

.vg-col:hover,
.vg-col:focus{
  transform: translateZ(34px);
  transition: transform 300ms cubic-bezier(0.390, 0.575, 0.565, 1.000), opacity 300ms ease;
}

.vg-card-container{
  position: relative;
  width: calc(100% - 25px);
  height:  calc(33.3% - 25px);
  margin: 17px;
  padding: 8px;
  text-align: center;
  opacity: .89;
   -webkit-text-fill-color:azure;
  color:azure;
}

.vg-card-container:hover,
.vg-card-container:focus{
  opacity: 1;
}

.vg-overlay{
  display: block;
  position: absolute;
  cursor: pointer;
  width: 50%;
  height: 50%;
  z-index: 1;
  transform: translateZ(34px);
}

.vg-overlay:nth-of-type(1){
  left: 0;
  top: 0;
}

.vg-overlay:nth-of-type(2){
  right: 0;
  top: 0;
}

.vg-overlay:nth-of-type(3){
  bottom: 0;
  right: 0;
}

.vg-overlay:nth-of-type(4){
  bottom: 0;
  left: 0;
}

.vg-overlay:nth-of-type(1):hover ~ .vg-card,
.vg-overlay:nth-of-type(1):focus ~ .vg-card{
  transform-origin: right top;
  transform: rotateX(3deg) rotateY(-3deg) translateZ(0);
}

.vg-overlay:nth-of-type(2):hover ~ .vg-card,
.vg-overlay:nth-of-type(2):focus ~ .vg-card{
  transform-origin: left top;
  transform: rotateX(3deg) rotateY(3deg) translateZ(0);
}

.vg-overlay:nth-of-type(3):hover ~ .vg-card,
.vg-overlay:nth-of-type(3):focus ~ .vg-card{
  transform-origin: left bottom;
  transform: rotateX(-3deg) rotateY(3deg) translateZ(0);
}

.vg-overlay:nth-of-type(4):hover ~ .vg-card,
.vg-overlay:nth-of-type(4):focus ~ .vg-card{
  transform-origin: right bottom;
  transform: rotateX(-3deg) rotateY(-3deg) translateZ(0);
}

.vg-card{
  border-radius: 5px;
  height: 100%;
  transition: all 300ms ease-out;
  align-items: center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  position: relative;
  z-index: 0;
  opacity: .89;
  padding: 13px 21px;
 
}

.vg-card:before,
.vg-card:after{
  content: '';
  position: absolute;
  left:0;
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
  opacity: .21;
  transition: transform 300ms ease;
  transform: scale(.98);
}

.vg-card:before{
  background-size: cover;
  background-position: 50% 50%;
}

.vg-card-container:hover .vg-card:before,
.vg-card-container:hover .vg-card:after,
.vg-card-container:focus .vg-card:before,
.vg-card-container:focus .vg-card:after{
  opacity: .34;
  transform: scale(1);
}

.vg-card:after{
  background: linear-gradient(to bottom, rgba(0,0,0,0) 50%,rgba(0,0,0,0.89) 100%);
}
.video-player{
  display:flex;
  justify-content:center;
  align-items:center;
}

.video{
 height:500px;
 max-width:100%; 
}

.back{
  color:red;
}
.vg-h4{
  text-align: left;
  font-size: 18px;
  font-weight:400;
  transform: translateY(5px);
  transition: transform 450ms cubic-bezier(0.390, 0.575, 0.565, 1.000);
  max-width: 320px;
  outline: 1px solid transparent;
}

.vg-overlay:hover ~ .vg-card.vg-h4,
.vg-overlay:focus ~ .vg-card.vg-h4{
  transform: translateZ(144px);
}

.vg-card > .vg-span{
  font-size: 34px;
  opacity: 0;
  transform: translateX(-3px);
  transition: all 300ms ease;
}

.vg-card-container:hover > .vg-card >.vg-h4,
.vg-card-container:focus > .vg-card >.vg-h4{
  transform: translateY(-13px);
}

.vg-card-container:hover > .vg-card > .vg-span,
.vg-card-container:focus > .vg-card > .vg-span{
 opacity: 1;
    transform: translateX(3px);
  animation: slideRight 300ms ease;
}



@media screen and (max-width: 550px) {
  .vg-container{
    flex-flow: column;
    perspective: none;
  }
  
  .vg-.vg-col:nth-of-type(1),
  .vg-.vg-col:nth-of-type(2),
  .vg-.vg-col:nth-of-type(3),
  .vg-.vg-col:hover{
      transform: none;
  }
  
  .vg-h4{
    padding-bottom: 8px;
    font-size: 18px;
  }
  
.vg-card > .vg-span{
      display: none;
  }


}

    @media(max-width:900px) and (max-height:500px) and (min-width:551px){
  .vg-container{
    flex-flow: column;
    perspective: none;
  }
  
  .vg-.vg-col:nth-of-type(1),
  .vg-.vg-col:nth-of-type(2),
  .vg-.vg-col:nth-of-type(3),
  .vg-.vg-col:hover{
      transform: none;
  }
  
  .vg-h4{
    padding-bottom: 8px;
    font-size: 18px;
  }
  
.vg-card > .vg-span{
      display: none;
  }



 }



  @media(max-width:1380px) and (max-height:1380px) and (min-width:700px){


 }

