
.toaster {
  flex:1;
  color: #fff;
  padding: 0 20px;
  transition: height 0.5s cubic-bezier(0.35, 0.1, 0.25, 1);

  &.is_open {
    height: 320px;
  }

 
  .wrapper {
    height: 100%;
    font-size:2rem
  }




@media screen and (max-width: 550px) {
  padding-bottom:30px;
 
  .wrapper {
    font-size:1.3rem
  }

}

    @media(max-width:900px) and (max-height:500px) and (min-width:551px){
 
  .wrapper {
    font-size:1.3rem
  }


 }



  @media(max-width:1380px) and (max-height:1380px) and (min-width:700px){


 }


}


